In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import pickle
import warnings
warnings.simplefilter("ignore")

In [4]:
data = pd.read_csv("C:/Users/hp/Desktop/WORKING PROJECTS/multiple-disease-prediction-main/multiple-disease-prediction-main/Dataset/indian_liver_patient.csv")
data.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [5]:
# data.shape
data['Albumin_and_Globulin_Ratio'].mean()

0.9470639032815197

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [7]:
data.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [8]:
data.Dataset.unique()

array([1, 2], dtype=int64)

In [9]:
sns.countplot('Dataset',data=data)

TypeError: countplot() got multiple values for argument 'data'

**Here 1 means suffering from liver diseases and 2 means not suffering**

Replace 2 with 1 and 1 with 0.

0--> Suffering

1--> Not suffering

In [ ]:
data['Dataset'] = data['Dataset'].replace([2,1],[1,0])
data['Dataset'].head(10)

In [ ]:
sns.countplot('Dataset',data=data)

Replacing the missing value with mean.

In [ ]:
data['Albumin_and_Globulin_Ratio']= data['Albumin_and_Globulin_Ratio'].fillna(0.9470639032815201)

In [ ]:
data.isnull().sum()

In [ ]:
data.describe()

In [ ]:
sns.countplot('Gender',data=data,hue='Dataset')

More males are suffering from liver diseases as compare to female.

Drop the *Gender* column and replace it with dummie column with with 1--> Male and 0-->Female

In [ ]:
data = pd.get_dummies(data,columns=['Gender'],drop_first=True)

In [ ]:
data.head()

In [ ]:
plt.figure(figsize=(20,14))
sns.heatmap(data.corr(),annot=True)

In [ ]:
# sns.pairplot(data,hue='Dataset')

In [ ]:
data.corr()

In [ ]:
X = data.drop("Dataset",axis=1)
y = data['Dataset']

In [ ]:
print(X.shape)
print(y.shape)

In [ ]:
X.columns

In [ ]:
from sklearn.model_selection import train_test_split as tts
X_train,X_test,y_train,y_test = tts(X,y,test_size=0.1,random_state=42)

In [ ]:
print("Train shape", X_train.shape," ",y_train.shape,"\n")
print("Test shape", X_test.shape," ",y_test.shape)

In [ ]:
# Adding first model
from sklearn.ensemble import RandomForestClassifier
model1 = RandomForestClassifier(n_estimators=20)
model1.fit(X_train,y_train)

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
# Printing confusion metrics
confusion_matrix(y_test,model1.predict(X_test))

In [ ]:
print(f"Accuracy is {round(accuracy_score(y_test, model1.predict(X_test))*100,2)}")

In [ ]:
# Adding Second Model
from xgboost import XGBClassifier
model2 = XGBClassifier(n_estimators=1000,learning_rate=0.075,max_depth=3,early_stopping_rounds=10,verbose=False)
model2.fit(X_train,y_train)

In [ ]:
# Printing accuracy score
confusion_matrix(y_test,model1.predict(X_test))
print(f"Accuracy is {round(accuracy_score(y_test, model2.predict(X_test))*100,2)}")

### From the 2 models we can see that model1 have more accuracy as compare to model2. So we will prefer model1.

In [ ]:
pickle.dump(model1,open("liver.pkl",'wb'))